<head>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/a.styles.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/uloha2.css" asp-append-version="true" />
</head>
<div class="container2">
    <img src="~/img/belligoal.png" alt="profile pic" class="profile-pic">
    <h1>Jude Bellingham</h1>
    <p>Real Madrid player</p>
    <a href="/"><button class="btn2">Späť</button></a>
</div>