<head>
    <link rel="stylesheet" href="~/css/uloha3.css" asp-append-version="true" />
</head>

<div class="box">
    @for (int i = 0; i < 6; i++)
    {
        <div class="container3">
            <img src="~/img/belligoal.png" alt="profile pic" class="profile-pic">
            <h2 class="text-center">Jude Bellingham</h2>
            <p>Real Madrid player</p>
        </div>
    }
</div>